.CustomInput {
  border-radius: 20px !important;
  border-color: transparent !important;
  overflow: hidden;
  &::before {
    border-color: transparent !important;
    border-radius: 20px !important;
  }
  &::after {
    border-radius: 20px !important;
  }
}

// CheckBox
.CustomCheckBox {
}
