.Text {
  padding: 0 15px !important;
  background-color: #fff !important;
  color: #d4bfbf !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
